
#root{
  display: flex;
  flex-direction: column;
  align-items: center;

     background-color: rgba(195, 192, 192, 0.846); 
  
}
body{
  margin: 0;
  
}
#todayWeather{
  background-image: url('img/sky-1441936_1920.jpg');
  border: 0px solid black;
  background-size: cover;
  padding: 20px 40px;
  border-radius: 2%;
  
  background-size: cover;
  min-width: 50vw;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.6;
}

h1{
  cursor: pointer;
}

#todayWeather h2 span{
font-size: 4rem;

}
#weatherForecast h2 span{
  font-size: 3rem;
  
}
#weatherForecast{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 5px 10px;
  
}

#weatherForecast div{
  background-image: url('img/sky-1441936_1920.jpg');
  background-size: cover;
 width: 100%;
  max-width: 250px;
  padding: 10px;
  background-size: cover;
  display: flex;
 flex-direction: column;
 align-items: center;
 opacity: 0.7;
 border-radius: 2%;
 background-color: rgba(224, 224, 224, 0.846);
}
#changeDegreeType{
  cursor: pointer;
}

